* {
    margin: 0; padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    background-color: #5b6db7;
}
.clearfix:after {
    content: " ";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}
@font-face {
    font-family: Gothic;
    src: url(fonts/LiberationMono-Regular.ttf) format('truetype');
}

/*  Layout:
    TODO: draw a mockup.
    ------------------------------------------------------------------- */
#map    { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*  Style: View/Map
    ------------------------------------------------------------------- */
#map {
    text-align: center;
}
