.deps/
*.log
*.status
*.gmo

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.o
*.ko
*.obj
*.elf

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
config.h.in
Makefile.in
Makefile.in.in
Makevars.template
Rules-quot
boldquot.sed
en@boldquot.header
en@quot.header
insert-header.sin
quot.sed
remove-potcdate.sin
aclocal.m4
autom4te.cache
configure
ltmain.sh
macros
compile

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Something else
*.Po
Makefile
ABOUT-NLS
*~
config.rpath
config.guess
config.sub
depcomp
install-sh
missing
test-driver
teg.sublime-project
